<style>
        #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
        }
      </style>
<footer  class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Miguel Ángel Muñoz Vázquez, José de Jesús García Hernández, Juan Pablo Hernández González and Ana Elizabeth Rosado Martínez</small>
        </div>
      </footer>