<head>
        <div style="background-color:660000;">
            <table>
                <tr>
                    <td><img src="/img/MSU_L.jpg" alt="msu logo" width="600" height = "75" class="img-fluid"></td>
                    <td><h1 style="color:white; margin-right: 0;"> Miguel Group </h1></td>
                </tr>
            </table>
        </div>
    <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color:660000;" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="background-color:660000;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home<span class="sr-only">(current)</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">People</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Research</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publications</a>
                    </li>
                  </ul>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
</head>