<p>
      </p>
      &nbsp;
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <p>
                kljflkdfjdkljfdklfjdfjklfkl
            </p>
          </div>
        </div>
      </div>
      <div style="display:flex;justify-content: center;">
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show More</a>
        </div>