<head>
    <!--css bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Header-->
    <%- include('partials/header') %>
    <script>
      $( "#profileLink" ).addClass('active');
    </script>
</head>
<body style="background-color: gray
;">
    <table style="margin-top: 30px;">
    <td>
    <div class="card mb-3" style="height: 100%; background-color: lightgray">
        <div class="row no-gutters";>
          <div class="col-md-4">
            <img src="/img/drMiguel.jpg" class="card-img" alt="Dr. Miguel picture">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="font-family: 'Times New Roman', Times, serif; background-color: lightgray; height: 100%;">
              <h5 class="card-title" style="font-size: 32px;">About Dr. Muñoz</h5>
              <p class="card-text">         
Dr. Muñoz studied in $#8$"# university finishing his bachelors in "$(#"#)#$(, then he did a PhD degree in... asdan sdksandasd kasndñ kasjdajsñlkdj asdaskd jañkd jalsjd kasd
asdajsd kajsdkasjdas dasjdasjdsakda jskdasjkdj sakdajsdkaj dkajsdkasda
asdkasdka.
              </p>
            </div>
          </div>
        </div>
      </div>
</td>
<td style="width: 20%; height: 70%; background-color: #660000; align-content: bottom;">
    <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #073763; border: 0px">About</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #073763; border: 0px">CV</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #073763; border: 0px">Contact</button>
</td>
</table>

<div style="background-color: lightgray;">
<h1 style="margin-top: 30px; text-align: center; font-family: 'Times New Roman', Times, serif;">Dr. Muñoz CV</h1>
  <iframe src="http://www.nwu.ac.za/files/images/Basic_Curriculum_Vitae_example.pdf" frameborder="0" width="100%"" height="800" id="pdf" style="padding: 20px;"></iframe>
</div>

<div class="container" style="background-color: lightgray; height: 200px; text-align: center; margin-top:20px">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<h1 style="font-family:'Times New Roman', Times, serif">How to contact Dr. Muñoz</h1>
<table>
<tr>
  <td>
<i class='fab fa-whatsapp' style='font-size:36px'></i>
<strong style="font-size: 25px">+15-731-302-5620</strong>
  </td></tr>
<tr>
 <td>
      <i class='far fa-envelope' style='font-size:36px'></i>
      <strong style="font-size: 25px;"> mamund@msu.us</strong>
  </td></tr>
<tr>
<td>
      <i class='fas fa-phone-square' style='font-size:36px'></i>
      <strong style="font-size: 25px;">+15-731-941-8374</strong>
  </td></tr>
</table>
</div>

</body>