<head>
    <!--css bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Header-->
    <a name = "about"></a>
    <%- include('partials/header') %>
    <script>
      $( "#profileLink" ).addClass('active');
      function removeSelection(){
        //alert(JSON.stringify($('#linkList').find('a')));
        $('.linkList').removeClass('active');
      }
    </script>
    <style>
      .myButtonStyle{
        background-color: #073763; 
        border: 0px;
        margin-top:10px;
        margin-left:0;
      }
      footer {
    clear: both;
    position: relative;
    margin-top: 2000px;
}
    </style>
</head>
<body style="background-color: gray ;font-family: 'Times New Roman', Times, serif;">
    <div class = "container">
      <div class = "row">
        <div class = "col" style="position: absolute;
          top: auto;
          bottom: auto;
          left:0;
          right:0;
          width: 70%;
          height: 100%;">
            <div class="card mb-3" style="background-color: lightgray;">
             <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="border-radius:0;" src="/img/drMiguel.jpg" class="card-img" alt="Dr. Miguel picture">
                </div>
                <div class="col-md-8">
                  <div class="card-body" style="font-family: 'Times New Roman', Times, serif; background-color: lightgray; height: 100%;">
                    <h5 class="card-title" style="font-size: 32px;">About Dr. Muñoz</h5>
                      <p class="card-text">         
                          <p class = "lead">Dr. Munoz received his BSc Degree in Chemistry (1992) and his Ph.D. Degree in Chemistry with honors (1997) from the National Autonoumus University of Mexico (UNAM) under the guidance of Prof. Raymundo Cea developing Main Group complexes of As and Sb.  During his Ph.D. studies, he trained as a graduate research fellow at the University of Victoria under Prof. Stephen Stobart.  Dr. Munoz then accepted a Postdoctoral Fellowship (1998) at North Dakota State University (including a lab move to the University of Kentucky) with Prof. David Atwood concerning the design and synthesis of Al and Ga complexes and their use as catalysts for oxirane polymerization.</p>

                          <p>Dr. Munoz then joined the faculty of the Center of Chemical Research at the Autonomous University of Morelos in Mexico (1999) as Research-Professor (U.S. Assistant Professor equivalent).  In 2010 he was promoted to Professor-Investigador Titular C (U.S. full Professor with Tenure equivalent) where he remains today administering a very productive laboratory exploring Main Group Complexes and their catalytic activity for a range of important polymerization and other industrially relevant reactions.  In addition, he was Visiting Professor at the Laboratory of Coordination Chemistry at Toulouse, France working with Prof. Michel Etienne (2012).</p>
                          
                          <p>Miguel has contributed exciting new chemistry toward the synthesis and applications of Main Group complexes with particular attention to targets for the important topic of sustainable materials chemistry, including polymerization of renewable resource monomers such as lactides.  Other areas of interest include Diels-Alder catalysts, metallic chalcongenides, and building blocks for supramolecular coordination polymers.  “Miguel brings a rich and diverse array of chemistry to our program which will no doubt be highly competitive and collaborative to our program.”, says Prof. Edwin Webster, inorganic and computational chemistry expert at MSU and Associate Head of Chemistry.</p>
                          
                          <p>Dr. Munoz has co-authored 81 refereed publications, graduated six Ph.D., six M.S., and ten BSc. students.  He serves on the Scientific and Technological Council of CONACY-Mexico and he is a member of the National System of Researchers (SNI-Mexico, Level 3 out of 3).  Dr. Munoz has enjoyed continuous funding throughout his career including two USA collaborative funded grants, namely, an UCMexUS grant with Professor Phillip P. Power (UC Davis), and an NSF-CIAM grant with Professor Abdessadek Lachgar (Wake Forest University).</p>
                      </p>
                  </div>
                </div>
            </div>
          </div>
          <a name = "cv"></a>
      <div style="background-color: lightgray;">
        <h1 style="margin-top: 30px; text-align: center; font-family: 'Times New Roman', Times, serif;">Dr. Muñoz CV</h1>
          <iframe src="pdf's/cv_principal_researcher.pdf" frameborder="0" width="100%"" height="800" id="pdf" style="padding: 20px;"></iframe>
      </div>
      <a name = "contact"></a>
      <div class="container" style="background-color: lightgray; height: 200px; text-align: center; margin-top:20px">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <h1 style="font-family:'Times New Roman', Times, serif">How to contact Dr. Muñoz</h1>
        <table>
          <tr>
            <td>
              <i class='fab fa-whatsapp' style='font-size:36px'></i>
              <strong style="font-size: 25px">+15-731-302-5620</strong>
            </td>
          </tr>
          <tr>
            <td>
              <i class='far fa-envelope' style='font-size:36px'></i>
              <strong style="font-size: 25px;"> mamund@msu.us</strong>
            </td>
          </tr>
          <tr>
            <td>
              <i class='fas fa-phone-square' style='font-size:36px'></i>
              <strong style="font-size: 25px;">+15-731-941-8374</strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
      <div class = "col" style="position: fixed;
        top: auto;
        bottom: auto;
        left:auto;
        right:0;
        width: 20%; 
        height: 70%; 
        align-content: bottom;
        background-color: #660000;">
          <div style="padding: 60% 0;">
            <a href="#about"><button id="aboutButton" type="button" class="btn btn-primary btn-lg btn-block myButtonStyle active linkList" onclick="removeSelection();$(this).addClass('active')">About</button></a>
            <a href="#cv"><button id="cvButton" type="button" class="btn btn-primary btn-lg btn-block myButtonStyle linkList" onclick="removeSelection();$(this).addClass('active')">CV</button></a>
            <a href="#contact"><button id="contactButton" type="button" class="btn btn-primary btn-lg btn-block myButtonStyle linkList" onclick="removeSelection();$(this).addClass('active')">Contact</button></a>
          </div>
      </div>
    </div>
  </div>
</body>
<script>
  function buttonScrollSelection (){
        let scrollPos = $(document).scrollTop();
        console.log('scrollPos',scrollPos);
        if(scrollPos>=1237.5999755859375){
            removeSelection();
            $('#contactButton').addClass('active');
        }else if(scrollPos>874.4000244140625){
            removeSelection();
            $('#cvButton').addClass('active');
        }else{
            removeSelection();
            $('#aboutButton').addClass('active');
        }
    }
    buttonScrollSelection();
    window.onscroll = (event)=>{
        console.log(event);
        buttonScrollSelection();
    };  
</script>