<head>
    <!--css bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Header-->
    <a name="journals"></a>
    <%- include('partials/header') %>
    <script>
        $( "#publicationsLink" ).addClass('active');
        function removeSelection(){
            //alert(JSON.stringify($('#linkList').find('a')));
            $('.linkList').removeClass('active');
        }
    </script>
    <h1 style="display:flex;justify-content: center;">
        Publications
    </h1>
    <style>
        .square {
            height: 100px;
            width: 100px;
            background-color: #555;
        }
        .margini{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        /* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
  .myButtonStyle{
    background-color: #073763; 
    border: 0px;
    margin-top:10px;
    margin-left:0;
  }
    </style>
</head>
<body style="background-color:lightgray;">
    <div class = "container">
        <div class ="row">
            <div class ="col" style="position: absolute;
            top: auto;
            bottom: auto;
            left:0;
            right:0;
            width: 50%;
            height: 100%;">
                <h3 style="display:flex;justify-content: center;">Journal Articles</h3>
                <div class="container">
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            kljkljlkjkljlkl lk flk 
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            lfjldjfldjkl
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                </div>
                <a name="papers"></a>
                <h3 style="display:flex;justify-content: center;">Papers</h3>
                <div class="container">
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            kljkljlkjkljlkl lk flk 
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            lfjldjfldjkl
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            lfjldjfldjkl
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                </div>
                <a name="books"></a>
                <h3 style="display:flex;justify-content: center;">Books</h3>
                <div class="container">
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            kljkljlkjkljlkl lk flk 
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                    <div class ="row margini">
                        <div class ="col">
                            <div class="square"></div>
                        </div>
                        <div class ="col">
                            lfjldjfldjkl
                            <br>
                            <a href="https://www.w3schools.com/html/">Link</a>
                        </div>
                    </div>
                    <div class ="row margini">
                            <div class ="col">
                                <div class="square"></div>
                            </div>
                            <div class ="col">
                                lfjklfjdlkjdlkjklfdjkfldl
                                <br>
                                <a href="https://www.w3schools.com/html/">Link</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class = "col" style="position: fixed;
            top: auto;
            bottom: auto;
            left:auto;
            right:0;
            width: 20%; 
            height: 70%; 
            align-content: bottom;
            background-color: #660000;
            ">
                <div style="padding: 60% 0;">
                    <a href = "#journals"><button type="button" class="myButtonStyle btn btn-primary btn-lg btn-block linkList active" onclick="removeSelection();$(this).addClass('active')">Journals</button></a>
                    <a href="#papers"><button type="button" class="myButtonStyle btn btn-primary btn-lg btn-block linkList" onclick="removeSelection();$(this).addClass('active')">Papers</button></a>
                    <a href="#books"><button type="button" class="myButtonStyle btn btn-primary btn-lg btn-block linkList" onclick="removeSelection();$(this).addClass('active')">Books</button></a>
                </div>
        </div>
    </div>
</body>