<head>
    <!--css bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .square {
            height: 100px;
            width: 100px;
            background-color: #555;
        }
        .margini{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        /* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .btn-primary{
    background-color: #660000;
    border-color: #660000;
    position: relative;
    display: flex;
    justify-content: center;
    
  }

  .card-text{
      text-align: justify;
  }

  .card-title{
      text-align: center;
  }

  .card{
      height: 600px;
  }

}
    </style>
     <!--Header-->
     <%- include('partials/header') %>
     <script>
         $( "#researchLink" ).addClass('active');
     </script>
     <h1 style="display:flex;justify-content: center;">
      Research
    </h1>
</head>
<body style="background-color:lightgray; font-family: 'Times New Roman', Times, serif;">
    <div style="padding-left: 5%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%;">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="/img/research_1.jpg"  style="margin-bottom:10px; width: 400px; height:200px;">
              <h5 class="card-title">Research 1</h5>
              <p class="card-text">Abstract</p>
              <p class="card-text">This research paper covers topics like...</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="pdf's/Patrick Ness - Un monstruo viene a verme(..).pdf" target="_blank" class="btn btn-primary">PDF</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="/img/research_2.jpg" style="margin-bottom:10px; width: 400px; height:200px;">
              <h5 class="card-title">Research 2</h5>
              <p class="card-text">Abstract</p>
              <p class="card-text">This research paper covers topics like...</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="pdf's/Patrick Ness - Un monstruo viene a verme(..).pdf" target="_blank" class="btn btn-primary">PDF</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <img src="/img/research_3.jpg" style="margin-bottom:10px; width: 400px; height:200px;">
                <h5 class="card-title">Research 3</h5>
                <p class="card-text">Abstract</p>
                <p class="card-text">This research paper covers topics like...</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="pdf's/Patrick Ness - Un monstruo viene a verme(..).pdf" target="_blank" class="btn btn-primary">PDF</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</body>
<%- include('partials/footer') %>